#postFeed {
    width: 600px;
    margin: auto;
    background-color: white;
    border: 1px solid black;
    margin-top: 50px;
}

#registerButton {
    display: block;
    margin: 0 auto;
}

#registerHeader {
    text-align: center;
}

#register-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px;
}

