#postFeed {
    width: 600px;
    margin: auto;
    background-color: white;
    border: 1px solid black;
    margin-top: 10px;
}

#registerButton {
    display: block;
    margin: 0 auto;
}

#registerHeader {
    text-align: center;
}

#register-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px;
}

#writePostButtonDiv {
    margin: 0;
    height: 10vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

#writePostButton {
    margin: 0;
    height: 5vh;

    display: flex;
    justify-content: center;
    align-items: center
}

#postFormContainer {
    height: 100vh;

    display: flex;
    flex-direction: column; /* IMPORTANT: stack vertically */
    justify-content: center;
    align-items: center;

    gap: 10px; /* space between input and button */
}

#postFormInput {
    height: 100px;
    width: 500px;
}